body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    height: 250px;
    background-color: #c0e8d4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.3s  ease-out;
}

.bank-name {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    position: absolute;
    right: 0;
    width: 30%;
    top: 20px;
}

.logo img {
    width: 80px;
}

.expiry-date {
    position: absolute;
    padding: 20px;
    top: 65%;
}
.cardholder-name{
    padding: 20px;
    position: absolute;
    top: 73%;
}

.card-number {
    padding-left: 25px;
    font-size: 30px;
    position: absolute;
    font-family: "Courier New";
    top: 55%;
}

.expiry-date {
    top: 73%;
    right: 15px;
    position: absolute;
    font-size: 16px;
}

.cardholder-name {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
}

.chip {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 45px;
    height: 45px;
}

.carousel {
    position: relative;
    width: 400px;
    height: 250px;
    perspective: 500px;
    transform-style: preserve-3d;
}